<div class="navbar">
  <p class="logo">Practice Practice Practice </p>
  <p class="timer" *ngIf="time$ | async; let time">remaining time: {{ Math.floor(time/60) }} : {{ time % 60 }} </p>
</div>
<div class="container" *ngIf="!finished">
  <div class="image">
    <img [src]="currentData?.image" width="700px" height="500px" alt="" loading="lazy">
    <span class="left">left</span>
    <span class="right">right</span>
  </div>
  <p class="explanation"><span>{{ currentIndex + 1 + "." }}</span>{{ currentData?.explanation}}</p>
  <div [ngClass]="(i <= count && count > -1)?'':'hide'" *ngFor="let item of currentData?.options; let i = index" class="question">
      <p>{{item.question}}</p>
      <label class="answer">
        <label>
          <input (click)="moveForward($event, i)" type="radio" name="'answer' + {{ i }}" [value]="true">yes
        </label>
        <label>
          <input (click)="moveForward($event, i)" type="radio" name="'answer' + {{ i }}" [value]="false">no
        </label>
      </label>
  </div>
  <button *ngIf="showNextButton" (click)="nextQuestion()">Next</button>
</div>

<div class="container" *ngIf="finished">
  <h1 style="color: red">your Wrong Answer: {{ wrongAnswers }}</h1>
  <ng-container *ngFor="let item of allAnswers; let num = index">
    <div class="item.image">
      <img [src]="item?.image" width="700px" height="500px" alt="" loading="lazy">
      <span class="left">left</span>
      <span class="right">right</span>
    </div>
    <p class="explanation"><span>{{ num + 1 + "." }}</span>{{ item?.explanation}}</p>
    <div *ngFor="let each of item?.options; let i = index" class="output" [ngClass]="each.answer !== each.givenAnswer? 'red-border':''">
        <div class="question">
          <p>{{each.question}}</p>
          <label class="answer">
            <label>
              <input  type="radio" [disabled]="true" [checked]="each.givenAnswer===true" [value]="true">yes
            </label>
            <label>
              <input type="radio" [disabled]="true" [checked]="each.givenAnswer===false" [value]="false">no
            </label>
          </label>
        </div>
        <p class="correct-answer" [ngClass]="each.answer !== each.givenAnswer? 'wrong':''">{{each.answer===true? 'yes. ': 'no. '}}   {{each.reason}}</p>
    </div>
    <hr>
  </ng-container>

</div>
