<div class="container">
  <div class="image">
    <img src="../../../assets/images/image1.png" alt="">
  </div>
  <p class="explanation">What are the rules about warning triangle, in this situation? </p>
  <div class="question">
    <p>A warning triangle has to be placed 30 meters from the car.</p>
    <label class="answer">
      <label>
        <input type="radio" value="yes" formControlName="answer">yes
      </label>
      <label>
        <input type="radio" value="no" formControlName="answer">no
      </label>
    </label>
  </div>
</div>
