:host {
  .container {
    max-width: 700px;
    margin: auto;
    padding: 12px;
    img {
      max-width: 100%;
    }
    .explanation {
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
    }

    .question {
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 100px;
      &.hide {
        display: none;
      }
    }
    button {
      display: block;
      margin-left: auto;
    }
  }
}
