:host {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    max-width: 700px;
    margin: auto;
    padding: 12px;
    img {
      max-width: 100%;
    }
    .image {
      position: relative;
    }
    .left {
      position: absolute;
      inset: 0;
      top: -20px;
      @media(min-width: 768px){
        top: 0;
        left: -30px;
      }
    }
    .right {
      position: absolute;
      top: -20px;
      right: 0;
      @media(min-width: 768px){
        top: 0;
        right: -35px;
      }
    }
    .explanation {
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
    }

    .question {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 100px;
      &.hide {
        display: none;
      }
      p {
        flex-basis: 80%;
      }
      .answer {
        flex-basis: 25%;
      }
    }
    .output {
      .correct-answer {
        color: green;
      }
      .wrong {
        color: red;
      }
    }
    button {
      display: block;
      margin-left: auto;
      padding: 5px 12px;
      background-color: rgb(64, 202, 64);
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      border: none;
      border-radius: 9px;
    }
    hr {
      margin: 36px 0;
      border: 1px solid black;
    }
  }
}
