<form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
  <label>Image url:
    <input type="file" (change)="onFileSelected($event)" formControlName="image" accept="image/*" />
  </label>
  <label>Explanation:
    <input type="text" value="explanation" formControlName="explanation" />
  </label>
  <label>Question:
    <input type="text" formControlName="question" />
  </label>
  <label class="answer">Answer:
    <label>
      <input type="radio" value="yes" formControlName="answer">yes
    </label>
    <label>
      <input type="radio" value="no" formControlName="answer">no
    </label>
  </label>
  <label>Answer Explanation:
    <input type="text" formControlName="detail" />
  </label>
  <p class="more-options" (click)="addInOptions()">more options?</p>
  <button type="submit">Submit</button>
  <div *ngIf="imageUrl">
    <img [src]="imageUrl" alt="Uploaded Image" />
  </div>

</form>
