<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <h1>Reactive Form practice</h1>
  <label>Name
    <input name="name" formControlName="name" type="text" />
  </label>
  <label>Age
    <input name="age" formControlName="age" type="number" />
  </label>
  <label class="gender">Gender
    <input name="gender" value="male" formControlName="gender"  type="radio" />Male
    <input name="gender" value="female" formControlName="gender" type="radio" />Female
  </label>
  <label>Describe
    <textarea name="details" formControlName="details" type="text" ></textarea>
  </label>
  <label class="gender">Married
    <input ngModel name="married" formControlName="married" value="Male" type="checkbox" />
  </label>
  <label class="country">Select Country
    <select name="country" formControlName="country" type="">
      <option value=""></option>
      <option *ngFor="let country of countries" [value]="country">{{country}}</option>
    </select>
  </label>

  <button [ngClass]="reactiveForm.valid?'active':'inactive'" [disabled]="!reactiveForm.valid" type="submit">Submit</button>
  <p>{{ reactiveForm.value | json }}</p>
</form>
