:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
.container {
  width: 1000px;
  background-color: gray;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);

}
.item-1 {
  background-color: green;
  grid-column: 3/4;
  grid-row: 3/4;
}
.item-2 {
  background-color: rgb(120, 6, 110);
}
.item-3 {
  background-color: rgb(46, 7, 202);
  grid-column: 1/2;
  grid-row: 1/2;
}
.item-4 {
  background-color: rgb(207, 118, 18);
}
.item-5 {
  background-color: rgb(74, 4, 225);
}
.item-6 {
  background-color: rgb(17, 163, 212);
}
.item-7 {
  background-color: rgb(77, 1, 1);
}
.item-8 {
  background-color: rgb(143, 147, 143);
}
.item-9 {
  background-color: rgb(13, 5, 155);
  grid-column: 3/4;
  grid-row: 1/2;
}

.my-website {
  display: grid;
}


}
