<div class="container">
  <div class="items item-1">item-1</div>
  <div class="items item-2">item-2</div>
  <div class="items item-3">item-3</div>
  <div class="items item-4">item-4</div>
  <div class="items item-5">item-5</div>
  <div class="items item-6">item-6</div>
  <div class="items item-7">item-7</div>
  <div class="items item-8">item-8</div>
  <div class="items item-9">item-9</div>
</div>
<div class="my-website">
 <nav>navbar</nav>
 <aside>aside</aside>
 <div class="box1">box1</div>
 <div class="box2">box2</div>
 <div class="box3">box3</div>
 <main>main</main>
 <footer>footer</footer>
</div>

