:host {
  .array-methods {
    border: 1px solid gray;
    border-radius: 12px;
    padding: 24px;
    .original-array {
      margin-bottom: 12px;
    }
    h1 {
      text-align: center;
    }
    max-width: 700px;
    margin: 24px auto;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      li {
        list-style-type: none;
        flex-basis: 100%;
        border: 1px solid green;
        text-align: center;
        padding: 5px;
        &.new-item {
          color: red;
        }
      }
      li:is(.new-item){

          border: 1px solid red;

      }
    }
    ol > li > span {
      font-size: 12px;
      color: gray;
    }
    ol {
      li {
        padding: 7px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(242, 240, 240);
        margin: 2px;
        transition: all .4s ease-in-out;
        &:hover {
          filter: brightness(.95);
        }
      }
    }
  }
}
