<div class="container">
  <div class="container__content">
    <h1>Lorem, ipsum dolor sit amet Saepe, cupiditate.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ea fugiat odio laboriosam quas veritatis accusamus temporibus excepturi nisi sint.</p>
    <button>Submit</button>
  </div>
</div>
<div class="stacking">
  <div class="small-div">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolore itaque minima aliquid placeat saepe quis velit ullam nobis magnam voluptatibus quaerat sint harum nisi facilis repellendus, earum quo asperiores dignissimos hic autem odio nostrum aperiam! Tempora nemo fugiat optio consequatur earum modi qui tempore nostrum harum dolorem voluptatem, labore, omnis iusto excepturi voluptatum ratione incidunt. Cum sapiente explicabo porro.</p>
  </div>
</div>
