:host {
  *, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 .container {
  background-image: url('../../../assets/images/Screenshot\ 2023-07-29\ at\ 18.32.20.png');
  background-size: cover;
  max-width: 90vw;
  margin: 50px auto;
  padding: 20px 20px 0;
  outline: 1px solid red;
  &__content {
    background-color: #fff;
    max-width: 500px;
    padding: 3rem 2rem;
    margin: 10rem auto 0;
  }
 }
 .stacking {
  max-width: 700px;
  margin: 50px auto;
  background-color: rgb(206, 202, 202) ;
  padding: 30px;
 }

}
