<div class="container">
  <div class="container__float">
  </div>
  <p class="container__paragraph container__paragraph--light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, harum. Magni corporis veniam tenetur hic possimus. Sunt, unde officia soluta atque omnis perferendis ea veritatis cum dolorum consequuntur, nulla sit.</p>
  <p class="container__paragraph container__paragraph--dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, harum. Magni corporis veniam tenetur hic possimus. Sunt, unde officia soluta atque omnis perferendis ea veritatis cum dolorum consequuntur, nulla sit.</p>
  <p class="container__paragraph container__paragraph--light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, harum. Magni corporis veniam tenetur hic possimus. Sunt, unde officia soluta atque omnis perferendis ea veritatis cum dolorum consequuntur, nulla sit.</p>
  <p class="container__paragraph container__paragraph--dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, harum. Magni corporis veniam tenetur hic possimus. Sunt, unde officia soluta atque omnis perferendis ea veritatis cum dolorum consequuntur, nulla sit.</p>
</div>
